# R Environment Variables
.Renviron
.env
*.env

# R History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files
*.xlsx
*.csv

# R Project files
.Rproj.user/

# Ignore everything
*

# But not these files...
!*.R
!.gitignore
!README.md

# But do ignore these specific R files
cuspSummary.R
summary_var.R

# Ignore Excel files containing sensitive data
discardIDs.xlsx
ManualQC.xlsx
